.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  margin-bottom: 2%;
}

.icon {
  padding-right: 1%;
}

.navbar-collapse {
  float: right;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}


