
// #top_nav {
//   margin-bottom: 100px;
//   background-color: blue;
// }

.full {
  // width: 100%;
}

.icon {
  padding-right: 1%;
}

.navbar-collapse {
  float: right;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}

ul {
  // width: 30%;
}
