@import 'header.scss';
@import 'repo.scss';
@import 'repoList.scss';
@import 'modal.scss';

// .ellipsis {
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   overflow: hidden;
// }

/****** Repo ******/
body {
  background-color: whiteSmoke;
}

.form-container {
  max-width: 40%;
  margin: 0 auto;
  margin-top: 7vh;
  margin-bottom: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.form-container {
  margin-top: 25vh;

  .btn-search {
    margin-left: 2%;
  }
}
// .form-control {
//   margin-top: 10%;
// }


// .btn-search {
//   margin: 10%;
// }

// .modal {
//   display: block;
// }
// form {
//   width: 100%;
// }

// .repo {
//   &-img-wrapper {
//     margin: -15px -15px 0;
//     height: 0;
//     padding-bottom: 100%;
//     position: relative;
//     overflow: hidden;
//     border-bottom: 1px solid;
//   }
//
//   &-img {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
//
//   &-link {
//     margin-bottom: 0;
//   }
// }
